h1 {
    font-family: sans-serif;
    text-align: center;
}

pre {
    font-family: Inconsolata, Consolas, monospace;
    background-color: #eeeeee;
    padding: 1em;
}

html.gen #output-JSON,
html.gen #output-SQL-I-S {
    display: none;
}

