h1 {
    font-family: sans-serif;
    text-align: center;
}

pre {
    font-family: Inconsolata, Consolas, monospace;
    background-color: #eeeeee;
    padding: 1em;
}

section {
    display:none;
}

section:target {
    display: block;
}

pre.error {
    background-color: #880000;
    color: #fff;
}

html.gen #output-JSON,
html.gen #output-SQL-I-S {
    display: none;
}

