# Lekcja {{ numer_lekcji }}

## Zadania

{% for n, zadanie, rozw in zadania -%}
### Zadanie {{ n }}

{{ zadanie }}

````````python
{% for linia in rozw -%}
{{ linia }}
{%- endfor %}
````````
{% endfor %}
