div.cols {
    display: flex;
    justify-content: space-between;
}

div.cols-2 div {
    width: 47%;
}

div.cols div:first-child img {
    max-height: 55vh;
}

div.cols div img + p {
    text-align: center;
    font-size: 0.4em;
}
